<section layout="row" flex>

    <md-sidenav
                class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="true">

        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Sidenav Left</h1>
        </md-toolbar>
        <md-content layout-padding>
            <md-button ng-click="close()" class="md-primary" hide-gt-md>
                Play
            </md-button>
            <md-button ng-click="nextSong()" class="md-primary" hide-gt-md>
                Next
            </md-button>
            <md-subheader class="md-no-sticky">Songs</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="item in todos" ng-click="null">
<!--                <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />-->
                <div class="md-list-item-text" layout="column">
                    <h3>{{ item.who }}</h3>
                    <h4>{{ item.what }}</h4>
                    <p>{{ item.notes }}</p>
                </div>
            </md-list-item>
            <md-divider ></md-divider>
        </md-content>

    </md-sidenav>

    <md-content flex layout-padding>

        <div layout="column" layout-align="top center">
            <p>
                The left sidenav will 'lock open' on a medium (>=960px wide) device.
            </p>
            <p>
                The right sidenav will focus on a specific child element.
            </p>

            <div>
                <md-button ng-click="toggleLeft()"
                           class="md-primary" hide-gt-md>
                    Toggle left
                </md-button>
            </div>

            <div>
                <md-button ng-click="toggleRight()"
                           ng-hide="isOpenRight()"
                           class="md-primary">
                    Toggle right
                </md-button>
            </div>
        </div>

        <div flex></div>

    </md-content>

    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Sidenav Right</h1>
        </md-toolbar>
        <md-content ng-controller="RightCtrl" layout-padding>
            <form>
                <md-input-container>
                    <label for="testInput">Test input</label>
                    <input type="text" id="testInput"
                           ng-model="data" md-autofocus>
                </md-input-container>
            </form>
            <md-button ng-click="close()" class="md-primary">
                Close Sidenav Right
            </md-button>
        </md-content>

    </md-sidenav>

</section>